<h1>New Phone Number</h1>

<%= render 'form', phone_number: @phone_number %>

<% if params[:contact_type] == 'Person'%>
<%= link_to 'Back', person_path(params[:contact_id]) %>
<% elsif %>
<%= link_to 'Back', company_path(params[:contact_id]) %>
<% end %>
