<h1> <%= "New Email Address for #{@email_address.contact.name}" %>  </h1>

<%= render 'form', email_address: @email_address %>

<% if params[:contact_type] == 'Person'%>
<%= link_to 'Back', person_path(params[:contact_id]) %>
<% elsif %>
<%= link_to 'Back', company_path(params[:contact_id]) %>
<% end %>
